.btn{
    border-radius: 3px;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: .3px;
    line-height: 20px;
    padding: .45rem .95rem;
    text-align: center;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    vertical-align: middle;
    white-space: nowrap;
    &-gray, &-gray:hover {
        color: #666!important;
        border: 2px solid transparent;
        background: #f6f7f9;
    }
    &-pink &-pink:hover {
        background: #fb236a;
        color: #fff!important;
        border: 2px solid transparent;
    }
}
