.modal-apply{
    .showb{
        display: block;
    }
    .type{
        text-align: right;
        margin-bottom: 10px;
    }
    .online-profile{
        display: none;
    }
    .upload{
        display: block;
    }
    label {
        font-weight: 600;
        margin-bottom: 5px;
    }
    .form-control{
        font-size: 13px;
    }
}
